.container{
    height: calc(100vh - 100px);
    background-image: url('../public/img/cabañas/exterior/entrada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70vw;
    background-color: rgba(245, 245, 245, 0.589);
    
}
