.container{
    height: calc(100vh - 100px);
    background-image: url("/img/construccion.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width:480px) {
    .container{
        width: 100%;
        height:70vh;
    }
}